<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.geidea.madaapp2app">

    <application>
        <activity
            android:name=".ui.TransactionActivity"
            android:exported="false" />
    </application>

</manifest>